 body{
            font:"Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
            background-color: #E9F1FF;
        }
        a {
            color: #051227;
            text-decoration: none;
        }
        .topbar {
            font-size: 18pt;
            text-decoration: none; 
            font-size: 20pt;
            /*字体设置*/
            background-color: #90BBFF;
            color: #051227;
            /*背景颜色*/
            position:fixed;
            top:0;
            margin:auto;
            text-align:center;
            z-index: 10%;
            width:100%;
            /*设置宽度*/
        }
            #btn {
                padding-left: 10px;
                padding-right: 10px;
            }

        .container {
            padding-top:7%;
            font-size: 20pt;
            text-decoration: none; 
            color:#051227;

            margin:auto;
            width:60%;
            align-items: center;
            text-align: center;
        }
        .text {
            font-size: 18px;
            width:60%;
            margin: auto;
            text-align: left;
        }
        h1 {
            text-align: center;
            color: #051227;
            font-size: 40pt;
        }