@keyframes BlurAnimation {
    0% {
        /* 加上文字间距 */
        letter-spacing: 1em;
        /* Z轴变换 */
        transform: translateZ(300px);
        /* filter: blur(); 像素模糊效果 */
        filter: blur(12px);
        /* 透明度也要改变 */
        opacity: 0;
    }

    100% {
        
        filter: blur(0);
        opacity: 1;
    }
}
@keyframes moveLeft {
    from {
        bottom: -30%; /* 从右侧外部开始 */
        filter: blur(12px);
        opacity: 0;
    }
    to {
        bottom: 0; /* 移动到可见区域 */
        filter: blur(0);
        opacity: 1;
    }
}
@keyframes moveupdown {
    0% {
        margin-bottom: 0;
    }
    50% {
        margin-bottom: 10px;
    }
    100% {
        margin-bottom: 0;
    }
}