        .TopbarMenu {
            z-index: 99999;
            background-color: rgba(0, 0, 0,0.4);
            width: 100%;
            gap:30px;
            text-align: center;
            justify-content: center;
            display: flex;
            position: fixed;
            top: 0%;
        }
            .TopbarMenu img {
                position: fixed;
                left:13%;
                margin-top: 20px;
                height:30px;
            }
            .login {
                color: #fff;
                padding: 24px;
                position: fixed;
                right:13%;
                height:30px;
            }
            .TopbarMenu a {
                padding:24px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 600;
                font-size: 13px;
                color:#fff;
            }
            .TopbarMenu a:hover {
                color:rgb(255,103,0);
            }
            #active {
                color:rgb(255,103,0);
            }
            .TopbarMenu input {
                vertical-align: middle;
                background-color: rgba(0, 0, 0, 0);
                color: #fff;
                border:none;
                border-bottom: 1px solid #fff;
                margin-top: 17px;
            }